@import "utils";

.BoxModel {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}
.BoxModel_btn_dropdown {
  height: 2.7rem;

  &:hover {
    cursor: pointer;
  }
}
.BoxModel_dropdown_menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: $oc-gray-7;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}
.BoxModel_components {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.3rem;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  transition: all 0.3s ease;
}
.BoxModel_div {
  @extend .BoxModel_components;
  background-color: $oc-blue-5;
  margin-bottom: 1rem;

  &:hover {
    background-color: lighten($color: $oc-blue-5, $amount: 5);
  }
}
.BoxModel_span {
  @extend .BoxModel_components;
  background-color: $oc-red-6;
}
.BoxModel_clone {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.BoxModel_div_clone {
  @extend .BoxModel_clone;
  background-color: $oc-blue-5;

  &:hover {
    background-color: lighten($color: $oc-blue-5, $amount: 5);
  }
  &:active {
    //opacity: 0.7;
  }
}
.BoxModel_span_clone {
  @extend .BoxModel_clone;
  background-color: $oc-red-6;

  &:hover {
    background-color: lighten($color: $oc-red-6, $amount: 5);
  }
  &:active {
    // opacity: 0.7;
  }
}
