.HeaderLogo {
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  min-width: 2.5rem;
  min-height: 2.5rem;
  border: 1px solid white;
  border-radius: 13px;
  font-size: 1.5rem;
  font-weight: 200;
=======
  min-width: 2.2rem;
  min-height: 2.2rem;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: 400;
>>>>>>> 892efd2b2d66c38fce4f5e024753e65183640abb
}
