@import "utils";
.LoginForm {
  //border: 0.01rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2px;
  padding-top: 1rem;
  @include media("<small") {
    width: 100%;
  }
}
.LoginForm_title {
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #eeeeee;
}

.LoginForm_logo {
  width: 4rem;
  border-right: 0.02rem solid #eeeeee;
}
.LoginForm_logo_naver {
  display: flex;
  width: 4rem;
  font-weight: bolder;
  //font-size: 2rem;
  justify-content: center;
  border-right: 0.02rem solid #eeeeee;
}
.LoginForm_name {
  padding-left: 1rem;
}

.LoginForm_google {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  width: 20rem;
  height: 4rem;
  background: #c92a2a;
  border: 1px solid #d65858;
  border-radius: 2px;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}
.LoginForm_google:hover {
  background: #d65858;
}
.LoginForm_google:active {
  background: #d65858;
}
.LoginForm_facebook {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  border-radius: 2px;
  width: 20rem;
  height: 4rem;
  background: #1864ab;
  border: 1px solid #3c88cf;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}
.LoginForm_facebook:hover {
  background: #3c88cf;
}
.LoginForm_facebook:active {
  background: #3c88cf;
}
.LoginForm_naver {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  border-radius: 2px;
  width: 20rem;
  height: 4rem;
  background: #3ec729;
  border: 1px solid #6bc75c;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}
.LoginForm_naver:hover {
  background: #6bc75c;
}
.LoginForm_naver:active {
  background: #6bc75c;
}
.LoginForm_bottom {
  border-top: 0.1rem solid #eeeeee;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  padding-top: 1rem;
  width: 20rem;
  height: 4rem;
}
