@import "utils";
.AdminTemplate {
  background-color: #eeeeee;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AdminSection {
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 100%;
  margin-top: 2.7rem;
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: white;
  @include media("<small") {
    width: 100%;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    align-items: center;
  }
}
.Admin_title {
  font-size: 2.5rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  @include media("<small") {
    margin-bottom: 2rem;
  }
}
.Admin_body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @include media("<small") {
    flex-direction: column;
    align-items: center;
  }
}
.Admin_manageUser {
  width: 27%;
  border: 0.001rem solid black;
  @include media("<small") {
    width: 60%;
    margin-bottom: 2rem;
  }
}
.Admin_manageBoard {
  width: 27%;
  border: 0.001rem solid black;
  @include media("<small") {
    width: 60%;
    margin-bottom: 2rem;
  }
}
.Admin_analytics {
  width: 27%;
  border: 0.001rem solid black;
  @include media("<small") {
    width: 60%;
    margin-bottom: 2rem;
  }
}
