.Header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  <<<<<<<HEAD
  height: 2.5rem;
  =======height: 2.7rem;
  >>>>>>>892efd2b2d66c38fce4f5e024753e65183640abb
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(0, 0, 0, 0.77);
  color: white;
}
