@import "utils";
.Post {
  display: flex;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: white;
  height: 7rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
  //box-shadow: 0rem 0.05rem 0.1rem 0rem black;
  @include media("<small") {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin: 0.2rem;
  }
}
.Post_thumbnail {
  width: 5rem;
  height: 5rem;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  @include media("<small") {
    margin-left: 0.8rem;
    width: 4rem;
    height: 4rem;
  }
}
.Post_contents {
  flex: 1 0 0px;
  height: 5.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  @include media("<small") {
    padding-top: 0.5rem;
  }
  //border: 0.1rem solid black;
}
.Post_nickname {
  font-size: 1.8rem;
  font-weight: bold;
  @include media("<small") {
    font-size: 1.4rem;
  }
}
.Post_title {
  font-size: 1.4rem;
  @include media("<small") {
    font-size: 1rem;
  }
}
.Post_info {
  flex: 0 0 10rem;
  width: 7rem;
  padding-right: 1rem;
  padding-left: 1rem;
  //border: 0.001rem solid black;
  @include media("<small") {
    flex: 0 0 8rem;
    width: 3rem;
  }
}
.Post_reply {
  //border: 0.001rem solid black;
  display: flex;
}
.Post_reply_icon {
  //border: 0.001rem solid black;
  display: flex;
  align-items: center;
  padding-right: 0.2rem;
}
.Post_reply_value {
  //border: 0.001rem solid black;
  display: flex;
  align-items: center;
  padding-bottom: 0.3rem;
}
.Post_views {
  font-size: 1rem;
  @include media("<small") {
  }
}
.Post_regDate {
  display: flex;
}
.Post_regDate_icon {
  display: flex;
  align-items: center;
  padding-right: 0.2rem;
}
.Post_regDate_value {
  display: flex;
  align-items: center;
  padding-bottom: 0.2rem;
}
