@import "utils";
.PostViewFooter {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: left;
  align-items: center;
  font-weight: 900;
  @include media("<small") {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
}
textarea {
  resize: none;
  min-height: 4rem;
  overflow: hidden;
  overflow-wrap: break-word;
  width: 100%;
}
.replyPost {
  display: flex;
  justify-content: flex-end;
}
.replyPost_button {
  font-family: "Roboto";
  background-color: $oc-violet-8;
  display: flex;
  font-size: 1rem;
  align-items: center;
  height: 2rem;
  justify-content: center;
  width: 5rem;
  color: white;
}
.PostViewFooter_replyData {
  visibility: hidden;
}
